@import "../../sass/global.scss";
header {
  position: fixed;
  background-color: var(--header-color);
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: var(--header-index);
  height: var(--header-height);
  @extend %DisplayFlex;
  .navigation-logo {
    @extend %DisplayFlex;
    justify-content: space-between;
    gap: var(--navigation-logo-gap);

    .logo {
      color: var(--nav-link-active-color);
    }
    .navigation {
      @extend %DisplayFlex;
      width: 100%;
      justify-content: right;
      background-color: transparent;
      gap: 1rem;
      li {
        a {
          color: var(--nav-link-color);
          text-decoration: none;
          font-size: var(--nav-link-font-size);
          &.active {
            color: var(--nav-link-active-color);
          }
          &:hover {
            color: var(--nav-link-hover-color);
          }
        }
      }
      button {
        color: var(--nav-link-active-color);
        background-color: var(--primary-color);
        font-size: 1rem;
        cursor: pointer;
        border-radius: 8px;
        &:hover {
          background-color: var(--primary-hover-color);
        }
      }

      .donate {
        background-color: #ff6600;
        color: white;
        border: none;
        &:hover {
          background-color: rgba(255, 102, 0, 0.8);
        }

        &:active {
          -webkit-transform: scale(0.98);
          transform: scale(0.98);
        }
      }
    }
  }
}

@media (min-width: 700px) {
  header {
    position: fixed;
    background-color: var(--header-color);
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: var(--header-index);
    height: var(--header-height);
    @extend %DisplayFlex;
    .navigation-logo {
      @extend %DisplayFlex;
      justify-content: space-between;
      gap: var(--navigation-logo-gap);

      .logo {
        color: var(--nav-link-active-color);
      }
      .navigation {
        @extend %DisplayFlex;
        width: 100%;
        justify-content: right;
        background-color: transparent;
        gap: 1rem;
        li {
          a {
            color: var(--nav-link-color);
            text-decoration: none;
            font-size: var(--nav-link-font-size);
            &.active {
              color: var(--nav-link-active-color);
            }
            &:hover {
              color: var(--nav-link-hover-color);
            }
          }
        }
        button {
          color: var(--nav-link-active-color);
          background-color: var(--primary-color);
          font-size: 1rem;
          cursor: pointer;
          border-radius: 8px;
          &:hover {
            background-color: var(--primary-hover-color);
          }
        }

        .donate {
          background-color: #ff6600;
          color: white;
          border: none;
          &:hover {
            background-color: rgba(255, 102, 0, 0.8);
          }

          &:active {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
          }
        }
      }
    }
  }
}
