.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease;
  background-color: var(--nav-background-color);
}
.header.sticky {
  background-color: var(
    --sticky-nav-background-color
  );
}
.header .navigation {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.header .navigation .logo h1 {
  font-size: 1.5rem;
  color: var(--nav-text-color);
}
.header.sticky .navigation .logo h1 {
  color: var(--sticky-nav-text-color);
}
.header.active .sideBarOpen {
  display: none;
}

.header .navigation .menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  background-color: var(--side-nav);
  width: 30%;
  transition: all 0.3s ease;
}
.header.sticky .navigation .menu {
  background-color: var(--sticky-side-nav);
}
.header .navigation .logo-toggle {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navigation .logo-toggle span {
  padding: 0;
  width: auto;
  transition: all 0.3s ease;
}
.header .navigation .logo-toggle i {
  cursor: pointer;
  font-size: 24px;
  color: var(--nav-text-color);
}
.header .navigation .sideBarOpen {
  cursor: pointer;
  position: absolute;
  display: block;
  font-size: 1.5rem;
  color: red;
}

.header .navigation .navigation-list {
  display: flex;
  flex-direction: column;
  background-color: var(
    --nav-link-background-color
  );
  overflow: hidden;
  align-items: center;
  padding: 20px 0;
  transition: all 0.4s ease;
}
.header
  .navigation
  .menu:checked
  ~ .navigation-list {
  left: 0%;
  width: 70vw;
}
header .navigation .navigation-list .nav-links {
  list-style: none;
  margin: 1rem 5px;
  font-size: 18px;
  border-radius: 5px;
}
.header
  .navigation
  .navigation-list
  .nav-links
  a {
  color: rgb(156, 156, 156);
  padding: 0;
  transition: all 0.3s ease;
}
.header
  .navigation
  .navigation-list
  .nav-links
  a.active {
  color: white;
}
.header
  .navigation
  .navigation-list
  .nav-links
  a:hover {
  color: white;
}
.header.sticky .D {
  color: orange;
}
/*TODO add active here ACTIVE */
.header.active .sideBarOpen {
  display: none;
}
.header.active .navigation .menu {
  position: fixed;
  top: 0;
  left: 0%;
  height: 100vh;
  width: 70vw;
  transition: all 0.3s ease;
}
.header.active .navigation .logo-toggle {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
}
.header.active .navigation .logo-toggle span {
  padding: 0;
  width: auto;
  opacity: 1;
}
.header.active .navigation .logo-toggle i {
  cursor: pointer;
  font-size: 24px;
  color: var(--nav-text-color);
}
.header.active .navigation .logo {
  opacity: 0;
  transition: all 0.3s ease;
}

.header .navigation .logo {
  margin: 0 2rem;
}
.header .navigation .logo-toggle span {
  padding: 0;
  width: auto;
  opacity: 0;
  transition: all 0.3s ease;
}
.darkLight-searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkLight,
.searchBox {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  transition: all 0.3s ease;
  /*TODO REMOVE THIS */
}

.darkLight i,
.searchBox i {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  transition: all 0.3s ease;
  color: var(--nav-text-color);
}
.header.sticky .darkLight i,
.header.sticky .searchBox i {
  color: var(--sticky-nav-text-color);
}

.darkLight .moon {
  opacity: 1;
  pointer-events: all;
}
.darkLight .sun,
.searchBox .cancel {
  opacity: 0;
  pointer-events: none;
}

.darkLight.active .sun {
  opacity: 1;
  pointer-events: all;
}

.darkLight.active .moon {
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 500px) {
  .header.active .navigation .menu {
    width: 60%;
  }
}
@media (min-width: 700px) {
  .header.active .navigation .menu {
    width: 40%;
  }
}
@media (min-width: 1000px) {
  .header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .header .navigation .menu,
  .header.active .navigation .menu {
    position: static;
    width: 80%;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .header.active .navigation .logo {
    margin: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .header .navigation .menu .logo-toggle {
    opacity: 0;
    display: none;
  }
  .header .navigation .sideBarOpen {
    display: none;
  }

  .header .navigation .menu .navigation-list {
    align-items: center;
    height: auto;
    flex-direction: row;
    width: auto;
    background-color: transparent;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
  }
  header .navigation .navigation-list .nav-links {
    margin: 0 5px;
    padding: 0.8rem 0;
  }
  .header.sticky
    .navigation
    .navigation-list
    .nav-links
    a {
    color: var(--sticky-nav-link-color);
  }
  .header
    .navigation
    .navigation-list
    .nav-links
    a {
    color: var(--nav-link-color);
    padding: 8px 10px;
  }

  .header.sticky
    .navigation
    .navigation-list
    .nav-links
    a.active {
    background-color: var(
      --sticky-nav-link-active-background-color
    );
    color: var(--sticky-nav-link-active-color);
  }
  .header
    .navigation
    .navigation-list
    .nav-links
    a.active {
    background-color: var(
      --nav-link-active-background-color
    );
    color: var(--nav-link-active-color);
  }

  .header.sticky
    .navigation
    .navigation-list
    .nav-links
    a:hover {
    background-color: var(
      --sticky-nav-link-active-background-color
    );
    color: var(--sticky-nav-link-active-color);
  }
  .header
    .navigation
    .navigation-list
    .nav-links
    a:hover {
    background-color: var(
      --nav-link-active-background-color
    );
    color: var(--nav-link-active-color);
  }
}
