.hidden {
  opacity: 0;
  transition: 0.3s all;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translate(0%);
}

#discover-more_text {
  transition-delay: 200ms;
}
#discover-more_text_header_text {
  transition-delay: 200ms;
}

/* SERVICES ANIMATION */

#the-services .service:nth-child(2) {
  transition-delay: 200ms;
}
#the-services .service:nth-child(3) {
  transition-delay: 400ms;
}
#the-services .service:nth-child(4) {
  transition-delay: 600ms;
}
#the-services .service:nth-child(5) {
  transition-delay: 800ms;
}
#the-services .service:nth-child(6) {
  transition-delay: 1000ms;
}

.project
  .projects-boxes
  .project-box:nth-child(2) {
  transition-delay: 200ms;
}
.project
  .projects-boxes
  .project-box:nth-child(3) {
  transition-delay: 400ms;
}
.project
  .projects-boxes
  .project-box:nth-child(4) {
  transition-delay: 600ms;
}
