@import url(./scroll-animation.css);
@import url(./header.css);
@import url(./discover-more.css);
@import url(./services.css);
@import url(./experience.css);
@import url(./project.css);
@import url(./portfolio.css);
@import url(./team-members.css);
@import url(./pricing.css);
@import url(./blog.css);
@import url(./footer.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --body-color: white;
  /* NAVIGATION COLOR */
  --nav-background-color: oldlace;
  --sticky-nav-background-color: rgb(211, 42, 42);
  --nav-text-color: black;
  --sticky-nav-text-color: white;
  /* nav links */
  --nav-link-color: black;
  --nav-link-active-color: white;
  --nav-link-active-background-color: rgb(
    165,
    10,
    10
  );
  --sticky-nav-link-color: white;
  --sticky-nav-link-active-color: rgb(
    165,
    10,
    10
  );
  --sticky-nav-link-active-background-color: white;
  /* SERVICES SECTION */
  --our-service-background-color: white;
  --the-service-background-color: rgb(
    233,
    222,
    222
  );
  --white-section-color: white;
  --oldlace-section-color: oldlace;

  /* --nav-color:,
  --sidebar-color:,
  --text-color:, */
  --side-nav: rgb(252, 193, 193);
  --sticky-side-nav: rgb(211, 42, 42);
}
body.dark {
  --body-color: #18191a;
  /* NAVIGATION COLOR */
  --nav-background-color: #242526;
  --sticky-nav-background-color: #242526;
  --nav-text-color: #ccc;
  --sticky-nav-text-color: #ccc;
  /* nav links */
  --nav-link-color: #ccc;
  --nav-link-active-color: #242526;
  --nav-link-active-background-color: #ccc;
  --sticky-nav-link-color: #ccc;
  --sticky-nav-link-active-color: #242526;
  --sticky-nav-link-active-background-color: #ccc;
  /* SERVICES SECTION */
  --our-service-background-color: #242526;
  --the-service-background-color: #18191a;
  --side-nav: #242526;
  --sticky-side-nav: #242526;
  --text-color: #ccc;

  --white-section-color: #18191a;
  --oldlace-section-color: #18191a;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--body-color);
}

.main {
  position: relative;
  padding-top: 10vh;
}
/*global*/
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: orange;
}
li {
  list-style: none;
}
.D {
  color: rgb(211, 42, 42);
}

.buttons {
  cursor: pointer;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  margin-top: 20px;
}
.buttons:hover {
  background-color: rgb(143, 71, 71);
}
